body {
  background-color: #3F5576;
  font-family: "Raleway", sans-serif;
}


button {
  background-color: #8689AC;
  padding: 10px;
  font-family: "Raleway", sans-serif;
  border: 5px solid #EDF2F7;
  font-size: small;
  font-weight: bold;
  color: #EDF2F7;
  border-radius: 6px;
}

button:hover {
  opacity: 0.5;
}

h1 {
  color: #EDF2F7;
  font-style: normal;
  font-weight: bold;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 2px;
}

p {
  color:  #EDF2F7;
  font-family: "Raleway", sans-serif;
}

.smileyface {
  float: right;
  height: 20vmin;

}


h2 {
  color: #2ecf18;
  background-color: #29696b;
  border: 5px solid white;
  padding: 5px;
  margin: 10px 3px;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 2px;
}

p {
  /*font-family: HK Grotesk;*/
  background-color: #b8d5db;
  font-family: "Raleway", sans-serif;
}



