body {
  /*font-family: HK Grotesk;*/
  background-color: #b8d5db;
  font-family: "Raleway", sans-serif;
}


button {
  background-color: #29696b;
  padding: 10px;
  font-family: "Raleway", sans-serif;
  border: 5px solid white;
  font-size: small;
  font-weight: bold;
  color: white;
}

button:hover {
  opacity: 0.5;
}

h1 {
  color: #29696b;
  font-style: normal;
  font-weight: bold;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 2px;
}

h2 {
  color: #2ecf18;
  background-color: #29696b;
  border: 5px solid white;
  padding: 5px;
  margin: 10px 3px;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 2px;
}

p {
  /*font-family: HK Grotesk;*/
  background-color: #b8d5db;
  font-family: "Raleway", sans-serif;
}



