/*color palette from https://colorpalettes.net/color-palette-4532/*/
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #3F5576;
  font-family: "Raleway", sans-serif;
}

h1 {
  color: #EDF2F7;
  font-style: normal;
  font-weight: bold;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 2px;
  margin-bottom: 0px;
}

h2 {
  color: #EDF2F7;
  background-color: #587099;
  border: 5px solid #EDF2F7;
  padding: 5px;
  margin: 10px 0px;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 2px;
}

h3 {
  color: #B4C6D0;
  line-height: 80%;
}

a {
  color: white;
}

li {
  color: #EDF2F7;
}

strong {
  font-size: 20px;
  font-weight: bold;
}

.logo {
  height: 30px;
  margin: 0px;
  margin-left: 8px;
  margin-right: 1px;
}

.mail {
  height: 30px;
  margin: 0px;
  margin-left: 8px;
  margin-right: 1px;
}

header {
  overflow: hidden;
  text-align: center;
}

.logo:hover {
  opacity: 0.5;
}

@media (max-width: 1350) {
}

@media (max-width: 900) {
  h2 {
    padding: 5px;
    margin: 8px 3px;
  }
}

@media screen and (max-width: 500) {
  h2 {
    padding: 4px;
    margin: 7px 3px;
  }
}

@media screen and (max-width: 300) {
  h2 {
    padding: 3px;
    margin: 6px 2px;
  }
}

button {
  background-color: #8689AC;
  padding: 10px;
  font-family: "Raleway", sans-serif;
  border: 5px solid #EDF2F7;
  font-size: small;
  font-weight: bold;
  color: #EDF2F7;
  border-radius: 6px;
}

button:hover {
  opacity: 0.5;
}
